.pagination {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

button.active {
  font-weight: bold;
  border-color: rgb(255, 220, 62);
}

button:disabled {
  opacity: 0.5;
}

.dots {
  padding: 0.5rem;
}
