.banner {
		display: flex;
		justify-content: center;
    background-image: url(../assets/ssd_banner.png);
    height: 8rem;
	}

h1 {
		color: #ffdc3e;
		align-self: center;
		font-weight: 200;
		font-size: 3rem;
	}