p {
	text-align: left;
}
p,
h1 {
	padding: 0.65rem 0.65rem;
}

.inset-card {
	height: 32rem;
	width: 16rem;
	margin: 1rem;
	padding: 3rem 3rem;
}
.cb-svg {
	margin-bottom: 2rem;
	height: 2rem;
	width: 2rem;
}
.inset-heading {
	margin-top: 2.5rem;
}
