.cb-svg{
  height: 2rem;
  width: 2rem;
}
.cardStyles {
  background-color: red;
}
.inset-box {
  padding: 0.5rem;
}
.inset-card {
  padding-left: 4rem;
  margin: 1rem;
}
.inset-heading {
  margin: 2rem 2rem 2rem;
  /* margin-top: 2.5rem; */
  /* margin-bottom: 2.5rem; */
  /* padding: 1rem; */
}
